@model JobEntry.DTO.JobDTOs.GetJobByCategoryAndLocationIdDto

<form asp-controller="JobCategoryLocation" asp-action="Index" method="post">
    <div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
        <div class="container">
            <div class="row g-2">
                <div class="col-md-10">
                    <div class="row g-2">
                        <div class="col-md-4">
                            @Html.DropDownListFor(
                                x => x.CategoryId,
                                (List<SelectListItem>)ViewBag.Categories,
                                "Kategori Seç",
                                new { @class = "form-select border-0" }
                            )
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(
                                x => x.LocationId,
                                (List<SelectListItem>)ViewBag.Locations,
                                "Konum Seç",
                                new { @class = "form-select border-0" }
                            )
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-dark border-0 w-100">Ara</button>
                </div>
            </div>
        </div>
    </div>
</form>