   <div class="topnav">
                    <div class="container-fluid">
                        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
                            
                            <div class="collapse navbar-collapse" id="topnav-menu-content">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="\Default">
                                            <i class="mdi mdi-view-dashboard mr-2"></i>Siteye Git
                                        </a>
                                    </li>
                                    
                                    <li class="nav-item">
                                        <a class="nav-link" href="\Default">
                                            <i class="mdi mdi-view-dashboard mr-2"></i>Istatitistik
                                        </a>
                                    </li>
                                    
                                    <li class="nav-item">
                                        <a class="nav-link" href="\AdminBanner">
                                            <i class="mdi mdi-view-dashboard mr-2"></i>Banner 
                                        </a>
                                    </li>
                                    
                                    <li class="nav-item">
                                        <a class="nav-link" href="\AdminCategory">
                                            <i class="mdi mdi-view-dashboard mr-2"></i>Kategori 
                                        </a>
                                    </li>
                                
                                    <li class="nav-item">
                                        <a class="nav-link" href="\AdminComment">
                                            <i class="mdi mdi-view-dashboard mr-2"></i>Yorum 
                                        </a>
                                    </li>
                                    
                                    <li class="nav-item">
                                        <a class="nav-link" href="\AdminCompany">
                                            <i class="mdi mdi-view-dashboard mr-2"></i>Sirketler
                                        </a>
                                    </li>
                               
                                    <li class="nav-item">
                                        <a class="nav-link" href="\AdminTestimonial">
                                            <i class="mdi mdi-view-dashboard mr-2"></i>Testimonial 
                                        </a>
                                    </li>


                                    

                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>                
