<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="text-center text-lg-left">
                    @DateTime.Now.Year © JobEntry.
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-right d-none d-lg-block">
                    Design & Develop by Ahmet
                </div>
            </div>
        </div>
    </div>
</footer>